
body {
    background-color: black;

}

#mainhead {
    font-family: Monospace, "Monaco";
    text-align: center;
    background-color: yellowgreen;
    width: %;
    potion: absolute;
    top: 0px;
    right: 37%;
    font-size: 36px;
    border-radius: 5px;
}

/* Styles the lined menu button */
.btn {
    background-color: black;
    border: none; /* Remove borders */
    color: white;
    padding: 12px 16px;
    font-size: 16px; 
    cursor: crosshair; /* Mouse pointer on hover */
    transition: all 0.5s ease;
    float: left;
    border-radius: 2px;
  }


  /* lighter background on mouse-over */
  .btn:hover {
    background-color: rgb(193, 184, 205);
    color: #000;
  }


/*----------------------------------------------------*/
/*----------Off Canvas Menu-----------*/




/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


/*------------------------------------------------------------------------*/
                /*------social media icon bar---------*/

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 83%;
    left: .5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.8s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color */
  .icon-bar a:hover {
    background-color: white;
    color:  black;
    cursor: crosshair;
  }
  
  .github {
    background: black;
    color: white;
  }

  .codewars {
    background: black;
    color: white;

  }
  
  .linkedin {
    background: black;
    color: white;
  }
  
  .instagram {
    background: black;
    color: white;
  }
  
  .playstation {
    background: black;
    color: white;
  }


/*-----------------------------*/
/*-------- Panels ------------------*/

.right-panel {
    border-style: solid;
    width: 25%;
    float: right;
    padding: 10px;
    margin: 0 20px 0 20px;
    background: rgb(193, 184, 205);
}

.left-panel {
    border-style: solid;
    width: 60%;
    float: right;
    padding: 10px;
    margin: 0 20px 0 20px;
    background: rgb(193, 184, 205);
}

.about-me {
    
}